<h1>Browsing <%= @category.name if @category %> Mods for <%= @game.name if @game %></h1>
<div class="card-deck">
<% @mods.each do |mod| %>
    <a class="text-dark py-2" href=<%= game_mod_path(mod.game, mod) %>>
        <div class="card" style="width: 18rem;">
            <div class="card-header bg-secondary"></div>
            <div class="card-body">
                <h5 class="card-title"><%= mod.name %></h5>
                <p class="card-text"><%= mod.truncated_description %></p>
            </div>
            <div class="card-footer">
                <small><%= mod.download_count %> downloads | <%= mod.endorsements %> endorsements</small>
            </div>
        </div>
    </a>
<% end %>
</div>
<% if current_user %>
    <a class="btn btn-secondary" href= <%= new_user_mod_path(current_user) %>>Add New Mod</a>
<% end %>