<h1><%= @mod.name %></h1>
<h4><%= @mod.game.name %></h4>
<h4>Created by:  <%= @mod.creator.username %></h4>
<h4>Categories:</h4>
<div class="row px-5">
<% @mod.categories.each do |category| %>
    <h6 class="px-2"><%= category.name %></h6>
<% end %>
</div>
<p>Downloads:  <%= @mod.download_count %> | Endorsements:  <%= @mod.endorsements %></p>
<h4>Description:</h4>
<p><%= @mod.description %></p>

<%= render partial: "controls", locals: {mod: @mod} %>