<div class="ml-5 mt-5">
    <h1>Signup</h1>
    <%= bootstrap_form_with(model: @user, local: true) do |f| %>
        <div class="row"><%= f.text_field :username, autocomplete: "off" %></div>
        <div class="row"><%= f.password_field :password %></div>
        <div class="row"><%= f.password_field :password_confirmation, label: "Confirm Password:" %></div>
        <%= f.submit %>
    <%end%>
</div>