<div class="row pt-5 pl-5">
    <div class="col">
        <h1>Profile</h1>
        <h5>Username: <%= @user.username %></h5>
        <% if current_user == @user %>
            <a class="btn btn-secondary" href=<%= user_path(current_user)%> data-method="delete">Delete</a>
        <% end %>
    </div>
    <div class="col">
        <h5>Created Mods:</h5>
        <ul>
            <% @user.creations.each do |mod| %>
                <li><%= link_to "#{mod.name}", user_mod_path(@user, mod)%> | Downloads: <%= mod.download_count %> | Endorsements: <%= mod.endorsements %></li>
            <% end %>
        </ul>
        <a class="btn btn-secondary" href= <%= new_user_mod_path(current_user) %>>Add New Mod</a>
    </div>
</div>

