<div class="card-deck">
    <% @games.each do |game| %>
        <a class="text-dark" href=<%= game_path(game) %>>
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-secondary"></div>
                <div class="card-body">
                    <h5 class="card-title"><%= game.name %></h5>
                </div>
                <div class="card-footer">
                    <small>Mods: <%= game.mod_count %></small>
                </div>
            </div>
        </a>
    <% end %>
</div>
<a class="btn btn-secondary" href= <%= new_game_path %>>Add Game</a>

<%= form_tag "/search", method: "get" do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
<% end %>