<!DOCTYPE html>
<html>
  <head>
    <title>ModGallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container-fluid d-flex flex-column vh-100 overflow-hidden">
      <%= render "navbar" %>
      <div class="row flex-grow-1 overflow-hidden">
          <%= render "sidebar" %>
          <div class='col mh-100 overflow-auto'>
              <div class='row flex-grow-1'>
                  <div class="col mh-100 overflow-auto py-5">
                    <%= yield %>
                  </div>
              </div>
          </div>
      </div>
      <div class="row flex-shrink-0 bg-light text-center">
          <div class="col-12 py-1">
              <p>Created by Bryce Dumas for Flatiron School.</p>
          </div>
      </div>
    </div>
  </body>
</html>
