<!DOCTYPE html>
<html>
  <head>
    <title>ModGallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container-fluid d-flex flex-column vh-100 overflow-hidden">
      <nav class="navbar navbar-dark bg-dark navbar-expand">
          <a class="navbar-brand" href="/">App</a>
          <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">about</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if @user %>
              <li class="nav-item"><a href="/logout" class="nav-link">Log Out</a></li>
            <% else %>
              <li class="nav-item"><a href="/login" class="nav-link">Log In</a></li>
              <li class="nav-item"><a href="/signup" class="nav-link">Sign Up</a></li>
            <% end %>
          </ul>
      </nav>
      <div class="row flex-grow-1 overflow-hidden">
          <div class="col-2 mh-100 overflow-auto py-2 bg-info">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link text-white" href="#">Link</a>
                  </li>
              </ul>
          </div>
          <div class='col mh-100 overflow-auto'>
              <div class='row flex-grow-1'>
                  <div class="col mh-100 overflow-auto py-2">
                    <%= yield %>
                  </div>
              </div>
          </div>
      </div>
      <div class="row flex-shrink-0 bg-light text-center">
          <div class="col-12 py-1">
              <p>Footer</p>
          </div>
      </div>
    </div>
  </body>
</html>
